package Components 

templ Clue(){
    Prompt left ------ prompt right  
    <form hx-post="/clue">
        <input type="text" value="Enter your guess!">
        <button> Submit </button>
    </form>
}

