//waiting for either the clue or the guesses
//add a load of jokes and svgs and stuff 
package Components

templ Waiting(){
    @Leaderboard()
    Your clue is .....
    <input type="text" value="Enter your guess!">
}
