package pages

import (
    "megenisj/guessing-game/Components"
    "megenisj/guessing-game/State"
)

templ Game(state State.State){
    @Components.Header()
    <body>
    @Components.Leaderboard()
    switch state.Phase {
        case 1:
            @Components.Clue()
        case 2:
            @Components.GuessPosition()
    }
    </body>
}
