package Pages

import (
    "megenisj/guessing-game/Components"
    "megenisj/guessing-game/State"
)

templ Game(state State.State){
    @Components.Header()
    <body>
    <div class="content-center" >
    if state.InLobby {
        @Components.Lobby(state)
    } else {
        @Components.Leaderboard()

        switch state.Phase {
            case 1:
                @Components.Clue()
            case 2:
                @Components.GuessPosition()
        }

    }
    </div>
    </body>
}
