package Pages

import "megenisj/guessing-game/Components"

templ Index(){
    @Components.Header()
    <body id="body">
    <div id="content" class="flex">
        <div class="grow h-14">
            @Components.JoinGame()
        </div>
        <div class="grow h-14"> 
            @Components.CreateGame()
        </div>
    </div>
        @Components.Footer()
    </body>
}

